.messages__footer{
    display: flex;
    width: 100%;
    /* height: 100vh; */
    align-items: flex-end;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
}

.input__left >input{
    width: 63vw;
    /* padding-top: 15px; */
    padding: 8px 0px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: none;
    outline-width: 0;
    margin-left: 10px;

}

.input__left{
    display: flex;
    width: 90vw;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
    margin-right: 7px;
    margin-left: 5px;
    padding: 8px 0px;
}

.input__right{
    flex: 0.1;
    margin-bottom: 9px;
}

.emoji{
  margin-left: 10px;
  margin-bottom: auto;
  margin-top: auto;
}

.camera{
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.message{

    /* height: 100vh; */
    /* margin-top: 60px; */
    overflow-y: overlay;
}


.text{
    /* margin-top: 67px; */
    margin-top: 10px;
    margin-left: 10px;
    width: fit-content;
    background-color: rgb(204, 203, 203);
}

.text__mess1{
    font-size: 10px;
    color: gray;
}

.text__mess2{

    margin-top: 8px;
    font-weight: bold;
    margin-bottom: -20px;
    color: #111;
}

.guest{
    background-color:  rgba(161, 214, 75, 0.7) !important;
    margin-left: auto;
    margin-top: 10px;
    width: fit-content;
    margin-right: 10px;
}

@media (max-width:768px){
    .input__left {
        /* border: 1px solid green; */
        width: 84vw;
    }
}