.message{
    background-color: rgb(204, 203, 203);
    height: 100vh;
    margin-top: 60px;
    overflow-y: overlay;
}


.text{
    /* margin-top: 67px; */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 40vw;
}